body {
    font-family: 'Crimson Text', serif;
}

/*navbar */
.navbar-inverse {
    background-color: #4b0202;
    display:none;
   
}

.navbar-brand:hover {
        color: white;
    }

ul.nav.navbar-nav{
    float:right;
}
/*jumbotron*/
.jumbotron {
    margin-top:10%;
    background: url('images/wardrobe.jpg'),no-repeat,center,center;
    background-size:contain;
    height: 55vh;
    text-align: center;
    padding-top: 10vh;
    padding-left: 20%;
    padding-right: 20%;
    border-bottom: 4px solid #4b0202;
}

#jumbotron-titlebox {
    background-color: rgba(181, 177, 175, .6);
    padding: 10px;
    color:#4b0202;
   
}

    #jumbotron-titlebox h1 {
        font-family: 'Julius Sans One', sans-serif;
        text-transform: capitalize;
        color: #4b0202;
     font-size:10px;
    }

.col-md-3 h2 {
    color: #4b0202;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: capitalize
}

